body{
    margin: 0;
    padding:0;
    font-family: sans-serif;
    background-position: center;
    background-image: url(https://www.google.com.np/url?sa=i&url=https%3A%2F%2Fwww.americanoceans.org%2Ffacts%2Fwhats-at-the-bottom-of-the-ocean%2F&psig=AOvVaw2WqDYq-hwPmdci-Iphh6IX&ust=1704095296332000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCPi2_u-XuYMDFQAAAAAdAAAAABAD);
}